In [12]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from random import randint
from sklearn.ensemble import RandomForestRegressor

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/FlipRoboTechnologies/ML-Datasets/main/Grades/Grades.csv')
df

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,B,A,A,A-,A+,A,A-,A-,A+,...,A-,A-,A,A,A,B+,B+,B,A,3.798
567,CS-97568,A+,A,A,A,A,A,A,A-,A,...,B+,B+,A,A,A-,B,A-,C,A-,3.772
568,CS-97569,B,A,A-,B+,A,A,A,A,A,...,A-,B,A,B+,A,C,B+,A-,A-,3.470
569,CS-97570,A,B+,D,A,D,D+,B-,C-,B-,...,D,B,B,C-,D,C,B,B-,C,2.193
570,CS-97571,C,D,D,C,C,D+,B,C+,C,...,C+,C,B-,D,F,C-,B+,D,C-,1.753

In [5]:
df.head()

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448

In [6]:
df.tail()

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
566,CS-97567,B,A,A,A-,A+,A,A-,A-,A+,...,A-,A-,A,A,A,B+,B+,B,A,3.798
567,CS-97568,A+,A,A,A,A,A,A,A-,A,...,B+,B+,A,A,A-,B,A-,C,A-,3.772
568,CS-97569,B,A,A-,B+,A,A,A,A,A,...,A-,B,A,B+,A,C,B+,A-,A-,3.470
569,CS-97570,A,B+,D,A,D,D+,B-,C-,B-,...,D,B,B,C-,D,C,B,B-,C,2.193
570,CS-97571,C,D,D,C,C,D+,B,C+,C,...,C+,C,B-,D,F,C-,B+,D,C-,1.753

In [7]:
df.info

<bound method DataFrame.info of      Seat No. PH-121 HS-101 CY-105 HS-105/12 MT-111 CS-105 CS-106 EL-102  \
0    CS-97001     B-     D+     C-         C     C-     D+      D     C-
1    CS-97002      A      D     D+         D     B-      C      D      A
2    CS-97003      A      B      A        B-     B+      A     B-     B+
3    CS-97004      D     C+     D+         D      D     A-     D+     C-
4    CS-97005     A-     A-     A-        B+      A      A     A-     B+
..        ...    ...    ...    ...       ...    ...    ...    ...    ...
566  CS-97567      B      A      A        A-     A+      A     A-     A-
567  CS-97568     A+      A      A         A      A      A      A     A-
568  CS-97569      B      A     A-        B+      A      A      A      A
569  CS-97570      A     B+      D         A      D     D+     B-     C-
570  CS-97571      C      D      D         C      C     D+      B     C+

    EE-119  ... CS-312 CS-317 CS-403 CS-421 CS-406 CS-414 CS-419 CS-423  \
0       B-  ...     C-     C-     C-     C-     A-      A     C-      B
1       D+  ...     D+      D      C      D     A-     B-      C      C
2       A-  ...      B      B      A      C      A      A      A     A-
3        D  ...     D+      C     D+     C-     B-      B     C+     C+
4        A  ...     B-     B+     B+     B-     A-      A     A-     A-
..     ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
566     A+  ...     A-     A-      A      A      A     B+     B+      B
567      A  ...     B+     B+      A      A     A-      B     A-      C
568      A  ...     A-      B      A     B+      A      C     B+     A-
569     B-  ...      D      B      B     C-      D      C      B     B-
570      C  ...     C+      C     B-      D      F     C-     B+      D

    CS-412   CGPA
0       A-  2.205
1        B  2.008
2        A  3.608
3       C+  1.906
4        A  3.448
..     ...    ...
566      A  3.798
567     A-  3.772
568     A-  3.470
569      C  2.193
570     C-  1.753

[571 rows x 43 columns]>

In [8]:
df.describe()

             CGPA
count  571.000000
mean     2.954888
std      0.620552
min      0.800000
25%      2.538000
50%      3.029000
75%      3.451000
max      3.985000

In [9]:
df.describe().T

      count      mean       std  min    25%    50%    75%    max
CGPA  571.0  2.954888  0.620552  0.8  2.538  3.029  3.451  3.985

In [14]:
# specifying input features in variable x and target in varibale y

x= df.iloc[:,1:-8]
y=df[['CGPA']]
x=x.drop("MT-442" , axis=1)

In [15]:
x

,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,...,EF-303,HS-304,CS-301,CS-302,TC-383,EL-332,CS-318,CS-306,CS-312,CS-317
0,B-,D+,C-,C,C-,D+,D,C-,B-,C-,...,C-,C+,B,C,C+,C,C-,C,C-,C-
1,A,D,D+,D,B-,C,D,A,D+,D,...,D,C-,A-,D+,C-,C,A-,D,D+,D
2,A,B,A,B-,B+,A,B-,B+,A-,A-,...,C+,A,B+,A-,B,B+,A-,A-,B,B
3,D,C+,D+,D,D,A-,D+,C-,D,C+,...,D,B-,D,B-,D+,D+,B+,C-,D+,C
4,A-,A-,A-,B+,A,A,A-,B+,A,A-,...,C-,A-,B-,A-,C+,A-,B-,A-,B-,B+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,B,A,A,A-,A+,A,A-,A-,A+,B+,...,B,A-,A-,A,A+,A,A,B+,A-,A-
567,A+,A,A,A,A,A,A,A-,A,A,...,A,A,A,A,A,A,A+,A-,B+,B+
568,B,A,A-,B+,A,A,A,A,A,B,...,B,B-,B+,B+,A,B,C+,B+,A-,B
569,A,B+,D,A,D,D+,B-,C-,B-,C-,...,D,C,C,C+,C-,D,B-,B+,D,B
570,C,D,D,C,C,D+,B,C+,C,D+,...,D,F,D,D,C,F,C-,D+,C+,C

In [16]:
#Filling Empty spaces and NaN in a cell

for col in x.columns:
    x[f'{col}'].fillna(x[f'{col}'].mode()[0], inplace = True)

In [17]:
#From 1 - 15, where 1 represents least weightage and 15 represents highest weightage of a gradepoint

X = {'A+': 15, 'A': 14, 'A-': 13, 'B+': 12, 'B': 11, 'B-': 10,
    'C+': 9, 'C': 8, 'C-': 7, 'D+': 6, 'D': 5, 'F': 4,
     'I' : 3, 'W': 2, 'WU': 1}
                
x = x.replace(X)    #replace all alphabetic grades with integer values

In [18]:
x

,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,...,EF-303,HS-304,CS-301,CS-302,TC-383,EL-332,CS-318,CS-306,CS-312,CS-317
0,10,6,7,8,7,6,5,7,10,7,...,7,9,11,8,9,8,7,8,7,7
1,14,5,6,5,10,8,5,14,6,5,...,5,7,13,6,7,8,13,5,6,5
2,14,11,14,10,12,14,10,12,13,13,...,9,14,12,13,11,12,13,13,11,11
3,5,9,6,5,5,13,6,7,5,9,...,5,10,5,10,6,6,12,7,6,8
4,13,13,13,12,14,14,13,12,14,13,...,7,13,10,13,9,13,10,13,10,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,11,14,14,13,15,14,13,13,15,12,...,11,13,13,14,15,14,14,12,13,13
567,15,14,14,14,14,14,14,13,14,14,...,14,14,14,14,14,14,15,13,12,12
568,11,14,13,12,14,14,14,14,14,11,...,11,10,12,12,14,11,9,12,13,11
569,14,12,5,14,5,6,10,7,10,7,...,5,8,8,9,7,5,10,12,5,11
570,8,5,5,8,8,6,11,9,8,6,...,5,4,5,5,8,4,7,6,9,8

In [22]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [23]:
model1 = LinearRegression()    
model1.fit(x_train,y_train)     #Fitting a Model

LinearRegression()

In [24]:
model1_score = model1.score(x_train, y_train)    #Calculating a Training score by providing trained data
print('Training Score:' , round(model1_score*100, 3) , '%')

Training Score: 93.112 %

In [25]:
y_lin_pred1 = model1.predict(x_test)    #checking the prediction of a model by providing test data

In [26]:
model1_score = model1.score(x_test, y_test)           #Calculating a Testing score by providing test data
print('Testing Score:' , round(model1_score*100, 3) , '%')

Testing Score: 95.713 %

In [27]:

lst = []                #empty list initiated
x_col = x.columns       #fetching column first element like a name of specific course

for i in x_col:
    
    enter = int(input(f'Enter grade of: \n{i}: '))
    lst.append(enter)     #list is appended with provided grade
lst2 = [lst]            #list is converted to 2D

Enter grade of:
PH-121: 6
Enter grade of:
HS-101: 7
Enter grade of:
CY-105: 8
Enter grade of:
HS-105/12: 5
Enter grade of:
MT-111: 6
Enter grade of:
CS-105: 7
Enter grade of:
CS-106: 8
Enter grade of:
EL-102: 5
Enter grade of:
EE-119: 6
Enter grade of:
ME-107: 7
Enter grade of:
CS-107: 8
Enter grade of:
HS-205/20: 5
Enter grade of:
MT-222: 6
Enter grade of:
EE-222: 7
Enter grade of:
MT-224: 8
Enter grade of:
CS-210: 5
Enter grade of:
CS-211: 6
Enter grade of:
CS-203: 7
Enter grade of:
CS-214: 8
Enter grade of:
EE-217: 5
Enter grade of:
CS-212: 6
Enter grade of:
CS-215: 7
Enter grade of:
MT-331: 8
Enter grade of:
EF-303: 5
Enter grade of:
HS-304: 6
Enter grade of:
CS-301: 7
Enter grade of:
CS-302: 8
Enter grade of:
TC-383: 5
Enter grade of:
EL-332: 6
Enter grade of:
CS-318: 7
Enter grade of:
CS-306: 8
Enter grade of:
CS-312: 5
Enter grade of:
CS-317: 6